<layout name="layout" />
<div class="screen">
	<div class="center-text">
		<p class="screen-title">web相册</p>
		<p class="screen-des">这里是全世界最漂亮的网络相册</p>
		<p class="screen-btn"><button class="btn btn-success">开始使用</button></p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 album-box-box">
			<img src="__ROOT__/Public/img/icons/border-head.jpg" class="album-box-border-head">
			<div class="album-box-border">
				<div class="row">
					<div class="album-box-border-leaf">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<span>2016.5.9</span>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test1.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head.jpg"> 曾林</p>
								<p>描述: 来最美丽的地方，我带你感受天堂</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂来最美丽的地方，我带你感受天堂</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="album-box-border-leaf">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<span>2016.5.7</span>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<img src="__ROOT__/Public/img/icons/test.png" class="pointer-cursor">
							<div class="album-box-imglength">23</div>
							<div class="album-box-content">
								<p><img src="__ROOT__/Public/img/icons/border-head1.jpg"> 何运江</p>
								<p>描述: 来最美丽的地方，我带你感受天堂来最美丽的地方</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>