<layout name="layout" />
<div class="screen">
	<div class="center-text">
		<p class="screen-title">web相册</p>
		<p class="screen-des">这里是全世界最漂亮的网络相册</p>
		<if condition="session('?name')">
			<p class="screen-btn"><a href="{:U('Home/Index/myalbum')}" class="btn btn-success">我的相册</a></p>
        <else />
			<p class="screen-btn"><button class="btn btn-success" data-toggle="modal" data-target="#login">开始使用</button></p>
        </if>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 album-box-box">
			<img src="__ROOT__/Public/img/icons/border-head.jpg" class="album-box-border-head">
			<div class="album-box-border">
				<foreach name="ac_info" item="vo" >
					<if condition="$key eq 0">
						<div class="row">
							<div class="album-box-border-leaf">
								<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
								<span>{$vo.ac_add_time}{$key}</span>
							</div>
					<elseif condition="($vo.ac_add_time neq $ac_info[$key-1]['ac_add_time'])"/>
						</div>
						<div class="row">
							<div class="album-box-border-leaf">
								<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
								<span>{$vo.ac_add_time}</span>
							</div>
					</if>
					<div class="col-xs-6 col-md-4">
						<div class="album-box">
							<a href="{:U('Home/Index/photos',array('ac_id'=>$vo['ac_id']))}"><img src="__ROOT__/{$vo.img_url}" class="pointer-cursor"></a>
							<div class="album-box-imglength"></div>
							<div class="album-box-content">
								<p><img src="__ROOT__/{$vo.headurl}"> {$vo.nickname}</p>
								<p>相册: <span>{$vo.ac_name}</span></p>
								<p>描述: {$vo.ac_description}</p>
							</div>
						</div>
					</div>
				</foreach>
				</div>
			</div>
		</div>
	</div>
</div>