<layout name="layout" />
<div class="wang-container">
   <div id="wang-btn">cool</div>
   <div id="wang-wrp" class="wang-no-style" >
      <foreach name="img_info" item="vo" >
         <img src="__ROOT__/{$vo.img_url}" data-id="{$vo.img_id}">
      </foreach>
   </div>
</div>
   
<div class="bigPicBox hidden">
      <div class="imgBox">
            <img src="#" >
      </div>
      <div class="discussBox">
            <div class="close-btn pointer-cursor">x</div>
            <div class="imgUser">
                  <p><img src="__ROOT__/Public/img/icons/border-head1.jpg"><span class="user-name">小天使</span><span class="time">2016.5.12</span></p>
            </div>
            <div class="imgdis"></div>
            <div class="imgclick">
                  <span class="glyphicon glyphicon-heart-empty text-danger pointer-cursor click" aria-hidden="true"></span>
                  <div class="imgclick-word inline-div"><span style="color: #CC0000;" class="love_count">10</span>&nbsp;人喜欢</div>
            </div>
            <div class="imgComment">
                  <form class="form-inline">
                      <div class="form-group">
                          <label for="imgComment-input"></label>
                          <input type="text" class="form-control" id="imgComment-input" placeholder="我也说一句">
                        </div>
                        <if condition="session('?name')">
                           <button type="button" class="btn btn-success commit">评论</button>
                        <else />
                           <button type="button" class="btn btn-success commit" disabled>评论</button>
                        </if>
                  </form>
            </div>
            <div class="imgCommentList">
                  
            </div>
      </div>
</div>
  
