<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"><!-- ie兼容 -->
	<meta charset="UTF-8">
	<title>web相册</title>
	<link href="__ROOT__/Public/css/bootstrap.min.css" rel="stylesheet">
  <link href="__ROOT__/Public/css/sweetalert.css" rel="stylesheet">
	<link href="__ROOT__/Public/home/style.css" rel="stylesheet">
  <link href="__ROOT__/Public/home/photos/photo1.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom: 0;border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{:U('Home/Index/index')}">
      	<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{:U('Home/Index/index')}">首页</a></li>
        <li><a href="{:U('Home/Index/myalbum')}">我的相册</a></li>
        <if condition="session('?name')">
          <li><a href="{:U('Admin/Admin/admin')}">相册管理</a></li>
        </if>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <if condition="session('?name')">
          <li><a>欢迎您：{$Think.session.name}</a></li>
          <li><a href="{:U('Home/Index/login_out')}">注销</a></li>
        <else />
          <li><a>欢迎您：游客</a></li>
          <li><a href="#" data-toggle="modal" data-target="#login">登录</a></li>
          <li><a href="#" data-toggle="modal" data-target="#register">注册</a></li>
        </if>
        <li><a>访问量：{$total_visit}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>