<include file="View:../header" />
{__CONTENT__}
	<script src="__ROOT__/Public/js/jquery.min.js"></script>
	<script src="__ROOT__/Public/js/bootstrap.min.js"></script>
	<script src="__ROOT__/Public/js/sweetalert.min.js"></script>
	<script src="__ROOT__/Public/js/ajaxfileupload.js"></script>
	<script src="__ROOT__/Public/home/style.js"></script>
	<script src="__ROOT__/Public/home/photos/photo1.js"></script>
<include file="View:../login" /> 
<include file="View:../register" /> 
<include file="View:../footer" /> 